.chat-screen__contacts-container {
  border-right: 1px solid #CCC;
} 

.chat-screen__chat-container {
  border-right: 1px solid #CCC;
}

.profile__name-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile__name {
  margin-top: 10px;
}

.profile__container {
  padding: 10px;
}

.profile__add-note {
  color: #4285F4;
  text-decoration: underline;
  text-align: right;
}

.note__date {
  font-size: 10px;
  text-align: right;
}

.note__text {
  margin-top: 5px;
}

.chat-screen__chat-ui {
  height: 92%;
}

.chat-bar__container {
  height: 8%;
  margin-right: -15px;
  margin-left: -15px;
  background-color: #4285F4;
  padding: 5px 20px;
}

.chat-bar__info-container {
  color: white;
}

.chat-bar__name {
  margin: 0;
  font-size: 20px;
}

.chat-bar__listing {
  margin: 0;
  font-size: 10px;
  margin-top: -8px
}