.chat__container {
  width: 300px;
  border-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-left: 10px;
}

.chat__top-bar {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #4285F4;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
}

.chat__top-bar-connectedIcon {
  height: 10px;
  margin-right: 10px;
  color: #00C851;
}

.chat__close-icon-container{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.chat__close-icon {
  height: 15px;
  width: 15px;
}


