.profile__main-container {
  height: 100%;
  display: flex;
}

.profile__left-container {
  height: 100%;
  width: 100%;
  border-right: 1px solid #EEE;
  display: flex;
  flex-direction: column;

}

.profile__info-container {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
}

.profile__logs-container {
  border-top: 1px solid #EEE;
  height: 100%;
  min-height: 1px;
  align-items: center;
  justify-content: center;
}

.profile__chat-container {
  height: 100%;
  width: 20%;
  position: absolute;
  right: -20%;
}

.profile-info__main-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.profile-info__data-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  margin-left: 15px;
}
.profile-info__data-container .column {
   flex-grow: 1;
   display: flex;
   padding: 10px;
 }
.profile-info__data-container .column:not(:only-child) {
  max-width: 33.3333%;
}
.profile-info__data-container .column h2 {
 font-size: 1.65em;
}
.profile-info__data-container .column-content {
  background: #f7f7f7;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.22);
  overflow: auto;
  flex-grow: 1;
}
.profile-info__data-container .column-content p,
.profile-info__data-container .column-content > div {
  display: flex;
  align-items: baseline;
  word-wrap: normal;
}
.agentStatusEdit {
  flex-grow: 1;
}
.agentStatusEdit > div:first-child,
.agentStatusEdit > span:first-child + div:nth-child(2) {
  min-height: 26px;
  max-height: 26px;
}
.agentStatusEdit > div:first-child > div,
.agentStatusEdit > span:first-child + div:nth-child(2) > div {
  max-height: 26px;
  min-height: 26px;
  font-size: 14px;
}
.agentStatusEdit input {
  line-height: 14px;
  top: -2px;
  position: relative;
}
.agentStatusEdit .css-4ljt47-MenuList div {
  padding: 2px 10px;
  font-size: 12px;
}
.agentStatusEdit .css-b8ldur-Input {
  padding-top: 1px;
  line-height: 12px;
}
.agentStatusEdit.editable-false > div {
  border: none;
  background: #f7f7f7;
}
.css-9gakcf-option {
  background-color: #6f9dd4 !important;
}
.profile-tables__container {
  padding: 20px;
  height: 100%;
}

.profile-tables__table-container {
  padding-top: 10px;
  height: 100%;
  position: relative;
}

.table-with-search__container {
  padding-top: 20px;
  height: 100%;
  padding-bottom: 20px
}

.table-with-search__controls-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 37px;
}

.table-with-search__controls-container .btn {
  height: 37px;
}

.table-with-search__search-input {
  width: 200px;
}

.table-with-search__add-button {
  background-color: palegreen;
}

.table-with-search__table {
  overflow: auto;
  height: 87%;
}
.tab-pane.active {
  height: 90%;
}

/* Bozidar CSS */

.agentProfilePage > div:first-child {
  width:  100% !important;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.agentProfilePage > div > div:first-child {
  width: 100% !important;
}
.profile-info__icon-container {
  display: flex;
}
.profile-icon__container {
  align-self: center;
}
.profile-info__main-container {
  padding: 10px 20px 40px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #FFF;
  margin:  0;
  width: 100%;
}
.profile-info__data-container p,
.profile-info__data-container .column-content > div {
  margin: 0;
  padding: 5px 0;
  border-bottom: 1px solid #ededed;
  font-size: 14px;
  width: 100%;
}
.profile-info__data-container p:last-child,
.profile-info__data-container .column-content > div:last-child:not(:only-child) {
  border-bottom: none;
  padding: 0;
}
.agentProfile .profile__left-container {
  width: 100%;
}
.agentProfile h4 {
  padding: 40px 0 0 0;
  text-align: center;
}

.agentProfile .agent__stats-container {
  display: flex;
  height: 100%;
  position: relative;
  margin: 0 15px;
  width: auto;
}
.agent__stats-container > div {
  width: 50%;
}
.agent__stats {
  width: 33.3333333%;
  overflow: auto;
  background: #f7f7f7;
  padding: 20px 10px 15px 10px;
}
.agent__stats li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: white;
  padding: 15px;
  margin: 15px 0;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
  justify-content: space-between;
}
.agent__stats li:first-child {
  margin-top: 0;
}
.agent__stats li:last-child {
  margin-bottom: 0;
}
.agent__stats h6 {
  padding: 5px;
  background: #fff;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,.25);
}
.agent__stats.agent__stats-sold h6 {
  width: 33.3333333%;
}
.agent__stats.agent__stats-bought h6 {
  width: 33.3333333%;
  right: 33.3333333%;
  left: 33.3333333%;
}
.agent__stats.agent__stats-multi h6 {
  width: 33.3333333%;
  right: 0;
  left: 66.6666666%;
}
.agent__stats li div {
  min-width: 25%;
}
.agent__stats ul {
  padding-top: 20px;
  margin-bottom: 0;
}
.agent__notes {
  background: green;
}
.service-detail__service-container.agentProfilePage {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.agentProfilePage .service-detail__action-bar {
  width: 100%;
}

.chat__sidebar {
  position: absolute;
  width: 20%;
  right: -20%;
  height: calc(100% - 64px);
  z-index: 2;
  background: white;
  transition: right 250ms;
  box-shadow: -2px -2px 5px rgba(0,0,0,.217);
}
.chat__sidebar-open .chat__sidebar {
  right: 0;
}
.profile__agent-leads {
  position: absolute;
  width: 20%;
  left: -20%;
  height: calc(100% - 64px);
  z-index: 2;
  background: white;
  transition: left 200ms;
  box-shadow: 2px 2px 5px rgba(0,0,0,.217);
}
.left__sidebar-open .profile__agent-leads {
  left: 0;
}
.agentProfile .profile__left-container {
  transition: width 200ms, margin 200ms;
}
.left__sidebar-open.agentProfile .profile__left-container {
  width: 80%;
  margin: 0 0 0 20%;
}
.chat__sidebar-open.agentProfile .profile__left-container {
  width: 80%;
  margin: 0 20% 0 0;
}
.left__sidebar-open.agentProfile.chat__sidebar-open .profile__left-container {
  width: 60%;
  margin: 0 auto;
}
.agentProfilePage .bottom-navigation__screen {
  background-color: #f7f7f7;
  height:82%;
}
.agentProfilePage .bottom-navigation__tabs {
  height: 8%;
}
.agentProfilePage .profile-tables__container {
  height: 70%;
  width: 100%;
  align-self: flex-start;
}
.agentProfilePage .profile-info__data-container {
  width: calc(100% - 186px);
  align-items: center;
  flex-wrap: wrap;
}
.agentProfilePage .profile-info__data-container p {
  margin-bottom: 0;
}
.agentProfilePage .profile-info__main-container {
  margin: 0;
  width: 100%;
  border-radius: 0;
  flex-wrap: wrap;
  padding: 20px;
  align-items: flex-start;
}
.agentProfilePage .agentInfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 15px;
}
.agentProfilePage .agentInfo p {
  margin-right: 15px;
}
.agentProfilePage h5 {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}
.agentProfilePage h6 {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align:center;
}
.agentProfilePage .agentPerformance {
  width: 65%;
  align-self: flex-start;
}
.agentProfilePage .agentContact {
  width: 30%;
  align-self: flex-start;
}

.sidebar__left .inf-scroll {
  background: #f7f7f7;
  border-radius: 0;
  padding: 10px 15px;
  overflow: auto;
  height: calc(100vh - 214px) !important;
}
.sidebar__left a {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
  padding: 5px;
}
.sidebar__left a div {
  width: 100%;
  display: flex;
}
.sidebar__left .list__picker-header {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.sidebar__left .list__picker-body {
  justify-content: space-between;
  font-size: 12px;
  margin-top: 5px;
}
.profile-info__actions-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  bottom: 10px;
}
.action-buttons__button {
  background: #fff;
  color: #6f9dd4;
  width: 30px;
  height: 30px;
  transition: color 225ms, box-shadow 225ms;
}
.action-buttons__button:hover {
  box-shadow: 1px 1px 8px rgba(0,0,0,.227);
}

.profile-info__actions-container .action-buttons__button {
  margin-right: 15px;

}
.action-buttons__button:first-child {
  margin-left: 0;
}

.agentProfilePage .tab-content {
  background: #fff;
}

.ut__flex-row-wrap-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.agent__neighborhoods,
.agent__zipcode {
  margin-right: 10px;
  padding: 3px 6px;
  background:#dee2e6;
  color: #343a40;
  box-shadow: 0 0 5px rgba(0,0,0,.175);
  font-size: 12px;
  white-space: nowrap;
}
.agent__neighborhoods {
  margin-bottom: 10px;
}
.agentInfo.agentPerformance h6 {
  font-size: 18px;
}
.agentInfo.agentPerformance > p {
  width: 100%;
  text-align: center;
  font-size: 16px;
}
.agentInfo.agentPerformance div.flex-row-wrap {
  width: 100%;
  display: flex;
  font-size: 14px;
  margin-bottom: 0;
  justify-content: space-between;
}
.agentInfo .salesInfo {
  margin-bottom: 10px;
}
.agentProfilePage .profile__info-container {
  background: #fff;
}
.agentStatusFilter {
  margin: 10px;
}
.list__search-container {
  padding: 0 10px 10px 10px;
}
.list__search-container .searchInput {
  width: 100%;
  margin: 0;
}
.agentProfile .bottom-navigation__tab:first-child,
.agentProfile .bottom-navigation__container {
  border-radius: 0;
}
.form-control.searchInput:focus,
.form-control.searchInput:active {
  border: 2px solid #2684ff;
}

.singleFieldEdit,
.addPhoneNumber {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
}
.singleFieldEdit i {
  margin-left: 2px;
}
.editable-false > div > div:last-child {
  opacity: 0;
}
.edit-profile__button {
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: center ;
  align-items: center;
  color: #343a40;
}
/*EDIT MODAL CSS*/
.modalFooterBtns {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
}
.modalFooterBtns .btn,
.phone .form-group label {
  margin: 0;
}
.phone.form-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.phone .form-group {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: 0 15px 0 0;
}
.phone .form-group input,
.phone .form-group select {
  margin-left: 5px;
}
.phone .form-group label.form-check-label {
  margin-left: 20px;
}
.phone .action-buttons__button {
  margin-left: auto;
}
.phone .action-buttons__button i {
  margin-left: 1px;
}
.Phone .singleFieldEdit {
  margin-left: auto;
  top: -1px;
}
/* END OF Bozidar CSS */