.profile__main-container {
  height: 100%;
  display: flex;
}

.profile__left-container {
  height: 100%;
  width: 70%;
  border-right: 1px solid #EEE;
  display: flex;
  flex-direction: column;

}

.profile__info-container {
  border-bottom: 1px solid #EEE;
  height: 100%;
  overflow: auto;
  display: flex;
}

.profile__logs-container {
  height: 100%;
  min-height: 1px;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.profile__chat-container {
  height: 100%;
  width: 30%;
}

.profile-info__main-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.profile-info__data-container {
  margin-left: 40px;
}

.profile-tables__container {
  padding: 20px;
}

