.marketplace__table-icon {
  margin-right: 5px;
  cursor: pointer;
}

.marketplace__filter-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  background: #fff;
  color: #6f9dd4;
  border-color: #fff;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.12), 1px 1px 2px rgba(0,0,0,0.24);
  border-style: solid;
  outline: none;
  transition: color 250ms, box-shadow 250ms;
  width: 50px;
  height: calc(1.5em + 0.75rem + 2px);
  margin: 10px;
}

.kpi-bar__container {
  display: flex;
  flex-direction: row;
  height: 70px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: white;
}

.kpi-item__container {
  flex: 1;
  border-right: 1px solid #CCC;
  padding: 10px 20px;
}

.kpi-item__title {
  font-size: 10px;
  margin: 0;
  width: 100%;
  text-align: center;
}

.kpi-item__number {
  margin: 0;
  width: 100%;
  text-align: center;
}

.kpi-item__variation{
  margin-left: 5px;
  font-size: 12px;
}

.kpi-item__positive-variation {
  color: green;
}

.kpi-item__negative-variation {
  color: red;
}