.marketplace__table-icon {
  margin-right: 5px;
  cursor: pointer;
}

.marketplace__filter-icons {
  display: flex;
}

.marketplace__filter-icons button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #6f9dd4;
  border-color: #fff;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.12), 1px 1px 2px rgba(0,0,0,0.24);
  border-style: solid;
  outline: none;
  padding: 0 20px;
  transition: color 250ms, box-shadow 250ms;
  height: calc(1.5em + 0.75rem + 2px);
  margin: 10px 10px 10px 5px;
}

.kpi-bar__container {
  display: flex;
  flex-direction: row;
  min-height: 70px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: white;
}

.kpi-item__container {
  flex: 1;
  border-right: 1px solid #CCC;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kpi-item__title {
  font-size: 10px;
  margin: 0;
  width: 100%;
  text-align: center;
}

.kpi-item__number {
  margin: 0;
  width: 100%;
  text-align: center;
}

.kpi-item__variation{
  margin-left: 5px;
  font-size: 12px;
}

.kpi-item__positive-variation {
  color: green;
}

.kpi-item__negative-variation {
  color: red;
}
.propertySearchContainer {
  margin: 0;
  justify-content: space-between;
}
.marketplace__filter-select {
  width: 200px;
  margin: 10px;
}

.marketplace__table-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.marketplace__table-icon:hover {
  background: #fff;
  color: #6f9dd4;
}
.tableWithActions td:last-child {
  width: 1px;
}
.tableWithActions td:last-child a:hover {
  text-decoration: none !important;
}
.tableWithActions td:last-child > div {
  display: flex;
}

.ManageBuyers-actions {
  padding: 15px 0;
  display: flex;
}

/* StreetView Styles */
.StreetView__modal .modal-xl {
  max-width: 95%;
  margin: 80px 0 0 5%;
}

.StreetView__modal .modal-content {
  margin: 0;
  width: 95%;
}

.StreetView__modal .modal-body {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.StreetView__modal .modal-body > div:first-child {
  width: 100vw!important;
}

.StreetView__modal .modal-footer {
  display: flex;
  justify-content: space-between;
}

.marketplace .searchContainer {
  margin: 0;
}
td.Marketplace__address {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 42px;
}
td.Marketplace__address div {
  display: flex;
  align-items: center;
}
td.Marketplace__address p {
  margin: 0;
}

.marketplace .kpi-bar__container + div {
  max-height: unset!important;
}

.marketplace .searchInput {
margin-left: 0;
}

.buyerPipeline th,
.buyerPipeline td,
.marketplace th,
.marketplace td {
  width: 100px;
}
.marketplace .Marketplace__address,
.marketplace .Marketplace__actions,
.buyerPipeline .Marketplace__address,
.buyerPipeline .Marketplace__actions {
  width: unset;
}
.marketplace .action-buttons__button,
.buyerPipeline .action-buttons__button  {
  margin: 5px;
  min-height: 26px;
  min-width: 26px;
}


/*IFRAME CORE CSS*/
.PropertyDetails__modal .Iframe__title {
  font-size: 14px;
  letter-spacing: 1px;
  margin-left: auto;
  padding-right: 32px;
}

.modal__action-button {
  height: 42px;
  width: 42px;
}

.PropertyDetails__modal,
.PropertyDetails__modal .modal-dialog  {
  margin: 0;
  max-width: unset;
}

.PropertyDetails__modal .modal-dialog  {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.PropertyDetails__modal .modal-header,
.PropertyDetails__modal .modal-body {
  padding: 0;
}

.PropertyDetails__modal .modal-header {
  position: relative;
}

.PropertyDetails__modal .modal-content {
  margin: 100px 80px;
  width: unset;
  height: 84vh;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.PropertyDetails__modal .modal-header h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PropertyDetails__modal .navbar {
  height: unset;
  position: absolute;
}

.PropertyDetails__modal button.close {
  z-index: 5;
  position: relative;
  right: 6px;
}


/* Hide full screen toggle because it's broken */
.gm-control-active.gm-fullscreen-control {
  display: none;
}

.ManageBuyers__check-group {
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.Marketplace__DetailModal .modal {
  overflow-y: hidden;
}
.Marketplace__DetailModal .modal-content {
  margin-top: 1.5%;
}
.Marketplace__DetailModal .VerticalTable > div {
  max-height: 40vh;
  overflow-y: auto;
  margin: 20px auto;
}
.OwnedProperty {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.op__img-container {
  max-width: 250px;
}
.op__details {
  flex-grow: 1;
  display: flex;
}
.op__estimate {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.op__estimateGain {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.Comps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 45vh;
  overflow-y: auto;
  padding: 20px;
  margin-top: -20px;
  margin-left: auto;
  padding: 20px 0 20px 20px;
}
.Comps, .Map {
  width: 49.5%;
}
.Comps > li {
  display: flex;
  flex-direction: column;
  width: 49%;
  justify-content: space-between;
  margin-bottom: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .22);
  min-height: 240px;
  position: relative;
  color: #fff;
  border-bottom: 4px solid #6f9dd4;
}
.Comps > li .Comp__details-container:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.65);
}
.Comp__details-container {
  padding: 12px;
  position: relative;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 1;
  cursor: pointer;
  min-height: 220px;
}
.Comp__details {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}
.Comp__details > span {
  text-shadow: 0 1px 2px rgba(255, 255, 255, .45);
}
.Comp__details-address {
  font-size: 13px;
  font-weight: 600;
  text-shadow: 0 1px 2px rgba(255, 255, 255, .45);

}
.CompListing__details {
  padding: 12px;
  height: 0;
  overflow-y: hidden;
  z-index: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  transition: bottom 225ms, height 375ms, opacity 125ms;
  display: flex;
  flex-direction: column;
}
.Comp__details .Comp__details-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  text-shadow: 0 1px 2px rgba(255, 255, 255, .45);
}
.Comp__details-bar > span {
  margin-right: 4px;
  color: #fff;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 600;

}
.Comps > li .CompListing__details.open {
  bottom: 0;
  height: 100%;
  z-index: 15;
  background: rgba(55,55,55,.95);
  opacity: 1;
}
.Comp__details-imgContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Comp__details-imgContainer img {
  height: 192px;
  width: auto;
}
.Comp__details-prices {
  font-size: 18px;
  line-height: 24px;
  margin-top: 12px;
  font-weight: 600;
  text-shadow: 0 1px 2px rgba(255, 255, 255, .45);
}
.Comp__details-prices > span {
  font-size: 14px;
}
.Comps > li .table tr:hover {
  background: #888;
}
.CompListing__details .table th,
.CompListing__details .table td {
  color: #fff;
  width: 40%;
  border: 1px solid #fff;
}
.CompListing__details .table td:nth-child(2) {
  width: 60%;
}
.CompListing__details .VerticalTable > div {
  margin: 0 0 0 0;
}
.CompListing__details .VerticalTable thead {
  display: none;
}
.CardList__infoBtn.action-buttons__button {
  position: absolute;
  z-index: 16;
  top: 5px;
  right: 5px;
}
.listImage-container {
  margin-right: 12px;
}
.Comp__details-footer {
  color: #252525;
  padding: 12px;
}
.Comp__details-footer p {
  margin-bottom: 0;
  font-size: 13px;
  text-align: center;
}
.op__estimateData-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 16px;
}
.op__estimatedValue {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.op__equity {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.compDetails-modal {
  display: block;
  position: fixed;
  z-index: 9999;
  background: rgba(0,0,0,.33);
}


/*Property modal subnav*/
.detailModal__tabs-container {
  position: relative;
  height: 100%;
}
.detailModal__tabs,
.detailModal__tabs a.nav-item.nav-link {
  color: #fff;
  border-radius: 0;
  font-size: .75em;
}
.detailModal__tabs .nav-item .nav-link {
  background-color: transparent;
  color: #252525;
}
.detailModal__tabs .nav-item .nav-link.active {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  background: #fff;
}
.Marketplace__details .nav-tabs {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  background: transparent;
  padding-top: 10px;
  border-color: transparent;
}
.detailModal__tabs .nav-link.active,
.detailModal__tabs .nav-link:hover,
.detailModal__tabs .nav-link:focus {
  outline: none;
  border-bottom: 4px solid #2684ff;
}
.detailModal__tabs a.nav-item.nav-link.active {
  background-color: #7bafed;
  color: #fff;
  border-radius: 0;
  border-color: #fff;
}
.Marketplace__DetailModal .container-fluid.flex-row {
  padding: 0 0 0 0;
}
.Marketplace__DetailModal .modal-body {
  padding: 1rem 0;
}
@media (min-width: 1200px) {
  .Marketplace__DetailModal .modal-xl {
    max-width: 97%;
  }
  .modal-open .Marketplace__DetailModal.modal {
    overflow-y: hidden;
  }
}